@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*1024px*/
@media only screen and (min-width: 1024px){
	body{
		font-family: Lato, Roboto;
		color: #333;
		font-size: 16px;
		margin: 0;
		padding: 0;
        width: 100%;
        height: 100%;
	}
	ol,ul {
		list-style: none;
		margin:0;
		padding:0;
	}
	h1{
		font-size: 2.25em; /*36px*/
	}
	h2{
		font-size: 1.5em; /*24px*/
		margin: 0;
		padding: 0;
	}
	h3{
		font-size: 1.125em; /*18px*/
	}
	p{
		font-size: 0.875em; /*14px*/
	}
	h5{
		font-size: 0.75em; /*12px*/
	}
	.openbtn{
		position: fixed;
		top: 2em;
		right: 2em;
		z-index: 1;
        cursor: pointer;
	}
	#menu li{
		font-size: 1.125em;
		letter-spacing: .112em;
		color: #000;
        background: #E63534;
        transition: .1s;
	}
	#menu li.active{
		background: #E63534;
	}
	#menu li a{
		text-decoration:none;
		color: #f2f2f2;
		display: block;
        opacity: .75;
	}
	#menu li:hover{
		color: #f2f2f2;
		background: #231919;
	}
	#menu li.active a:hover, #menu li.active:hover{
		background: #E63534;
		cursor: default;
	}
    #menu li a:hover{
        opacity: 1;
    }
	#menu li a,
	#menu li.active a{
		padding: .4em 2em;
	}
	#menu li.active a{
		color: #F2F2F2;
		font-weight: 400;
        text-transform: uppercase;
        opacity: 1;
	}
	#menu{
		white-space: nowrap;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 70;
		width: 0;
		padding: 0;
		margin: 0;
		background: rgba(230,53,52,1);
		text-align: left;
		overflow: hidden;
		transition: all .3s ease;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 100;
	}
	#menu .closebtn{
		position: absolute;
		top: 2em;
		left: 2em;
        cursor: pointer;
	}
	#menu div{
		position: absolute;
		left: 0;
        width: 100%;
	}
	.cols{
		width: calc(100%/6);
		height: 100%;

	}
/*homepage-section0*/
    #section0{
		width: 100%;
		height: 100vh;
        overflow: hidden;
        background: rgb(245,245,247)
	}
	#section0 h1, #section0 p{
		color: #333;
	}

	#section0 .highLight{
		margin: 0;
		padding: 0;
		margin-bottom: 1em;
		font-weight: 900;
	}
	#section0 .description{
		position: absolute;
		left: calc(100%/12);
		top: 25%;
		margin: 0;
		width: 25%;
        height: 75%;
        overflow-y: scroll;
	}
    #section0 .description::-webkit-scrollbar {
		width: 0;
	}
	#section0 .description hr{
		border: none;
		border-top: solid 1px rgba(230,53,52,.5);
	    margin: 1em 0;
	}
	#section0 .description p{
		margin: 0;
		width: 80%;
	}
	#section0 .description .sub{
		font-size: .75em;
		font-weight: 700;
	}
	#section0 .description .capt{
		font-size: .75em;
		margin: 0;
		margin-top: 4px;
		margin-bottom: 1em;
		opacity: .5;
	}
	#section0 .container{
		position: fixed;
        top: 0;
        left: calc(100%/6*2);
        width: calc(100%/6*4);
        height: 100%;
	}
	#section0 .mySlides{
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
	}
    #section0 .mySlides img{
        width: 100%;
        height: 100%;
    }
	#section0 .cursor{
		cursor: pointer;
	}
	#section0 .column{
		position: absolute;
		top: 25%;
		right: 36px;
	}
	#section0 .column:after{
		content: "";
	}
	#section0 .row{
		width: 4em;
		height: 4em;
		border-radius: 50%;
		margin-bottom: 1em;
		background: white;
	}
	#section0 .row img{
		border-radius: 50%;
		width: 4em;
		height: 4em;
	}
	#section0 .demo {
  		opacity: .6;
	}
	#section0 .activeSlide, .demo:hover {
  		opacity: 1;
		border: solid 2px white;
	}
	.logo{
		position: fixed;
		z-index: 4;
		left: calc(100%/12);
		top: 36px;
	}
	
}/*1024px*/
@media only screen and (min-width: 1920px){
	body{
		font-size: 24px;	
	}
	.cols{
		width: calc(100%/16);
	}
	.logo{
		left: calc(100%/16);
		top: 4%;
		z-index: 4;
	}
	#menu .closebtn{
		position: absolute;
		top: 4%;
		right: 40px;
		width: 24px;
	}
	#menu div{
		right: 24px;
	}
	.openbtn{
		top: 4%;
		right: 40px;
		width: 24px;
	}
    #section0 .container{
        width: calc(100%/16*11);
        left: calc(100%/16*5);
	}
	#section0 .highLight{
        width: 80%;
	}
	#section0 .description{
		width: calc(100%/16*4.5);
		top: 25%;
		left: calc(100%/16);
	}
	#section0 .description hr{
		margin: 1em 0;
	}
        #section0 .description p{
        text-align: justify;
        width: 80%;
    }
	#section0 .description .sub, #section0 .description .capt{
		font-size: .875em;
        margin-bottom: 1em;
        margin-top: 0;
    }
}/*1920px*/
@media only screen and (min-width : 120px) and (max-width : 1023px){
	body{
		font-size: 14px;
		font-family: Lato;
		color: #333;
        margin: 0;
        padding: 0;
        background: #F5F5F7;
        width: 100%;
        height: 100%;
	}
	.openbtn{
		position: fixed;
		top: 24px;
		right: 16px;
		z-index: 1;
	}
	#menu li{
		font-size: 1.5em;
		letter-spacing: .112em;
		color: #000;
	}
	#menu li.active{
		background: rgba(230,53,52,1);
	}
	#menu li a{
		text-decoration:none;
		color: #f2f2f2;
		display: block;
        opacity: .75;
	}
	#menu li:hover{
		color: rgba(230,53,52,1);
		background: #231919;
	}
	#menu li.active a:hover{
		background: rgba(230,53,52,1);
		cursor: default;
        opacity: 1;
	}
	#menu li a,
	#menu li.active a{
		padding: .4em 2em;
	}
	#menu li.active a{
		color: #F2F2F2;
		font-weight: 400;
        opacity: 1;
        text-transform: uppercase;
	}
	#menu{
		white-space: nowrap;
		position: fixed;
		top: 0;
		right: 0;
		height: 0;
		z-index: 1;
		width: 0;
		padding: 0;
		margin: 0;
		background: rgba(230,53,52,1);
		overflow: hidden;
		-webkit-transition: all .3s ease;
    	transition: all .3s ease; 
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 100;
		text-align: center;
	}
	#menu .closebtn{
		width: 36px;
		height: 36px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10%;
		border: solid 1px #f2f2f2;
		border-radius: 24px;
		padding: 6px;
	}
	#menu div{
		position: absolute;
		width: 100%;
	}
	ol,ul {
		list-style: none;
		margin:0;
		padding:0;
	}
	.cols{
		width: 0;
		height: 0;
	}
	.logo{
		position: absolute;
		z-index: 4;
		left: 16px;
		top: 24px;
		width: 108px;
	}
	#section0{
		background: #F5F5F7;
		width: 100%;
        height: 100vh;
	}
	#section0 h1, #section0 p{
		color: #333;
	}
	#section0 .highLight{
		margin: 0;
		margin-bottom: 12px;
		width: 95%;
		font-weight: 900;
	}
	#section0 .description{
		position: absolute;
		left: 16px;
		top: 58%;
		margin: 0;
		width: 95%;
		height: 42%;
		text-align: justify;
		overflow-y: scroll;
	}
	#section0 .description hr{
		border: none;
		border-top: solid 1px rgba(230,53,52,0);
/*        margin: 1em 0;*/
	}
	#section0 .description p{
		margin: 0;
		width: 95%;
	}
	#section0 .description .sub{
		font-size: .875em;
		font-weight: 700;
	}
	#section0 .description .capt{
		font-size: .875em;
		margin: 0;
		margin-top: 4px;
		margin-bottom: 1em;
		opacity: .5;
	}
	#section0 .container{
		position: absolute;
		top: 15%;
		width: 100%;
		height: 40%;
	}
	#section0 .mySlides{
		position: absolute;
		width: 100%;
		display: none;
		height: 100%;
	}
	#section0 .mySlides img{
		height: 100%;
	}
	#section0 .cursor{
		cursor: pointer;
	}
	#section0 .column{
		position: absolute;
		margin-top: 5%;
		right: 16px;
	}
	#section0 .column:after{
		content: "";
	}
	#section0 .row{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin-bottom: 16px;
		background: white;
	}
	#section0 .row img{
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}
	#section0 .demo {
  		opacity: .6;
	}
	#section0 .activeSlide, .demo:hover {
  		opacity: 1;
		border: solid 2px white;
	}
}
@media only screen and (min-width : 120px) and (max-width : 1023px) and (orientation:landscape){
	body{
		height: 100%;
		width: 100%;
		font-size: 14px;
	}
	#section0 .description{
		width: 82%;
		height: 75%;
		top: 22%;
	}
	#section0 .description p{
		width: 95%;
	}
	#section0 .highLight{
		margin: 0;
	}
	#section0 .mySlides{
		opacity: 0;
	}
	#section0 .demo{
		opacity: 1;
	}
	#section0 .column{
		right: 16px;
		width: 70px;
	}
	#section0 .row img{
		height:70px;
		width: 70px;
	}
	#section0 .activeSlide, .demo:hover{
		border: none;
	}
}













